h1 {
  color: aliceblue;
  font-style: italic;
  background-color: deeppink;
  width: 21%;
  margin: 0 auto;
  text-align: center;
}

form {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 30px;
  background-color: hotpink;
}

form p {
  display: inline-block;
}

form label {
  display: inline-block;
  width: 150px;
}
